In [1]:
# dependences

import pandas as pd
import os
import numpy as np

In [2]:
# Read the csv raw data

full_df = pd.read_csv('diabetic_data.csv')

In [3]:
# Include only the interested features

clean_df = full_df.iloc[:, [2,3,4,5,9,22,41,48, 49]]

clean_df

,race,gender,age,weight,time_in_hospital,max_glu_serum,insulin,diabetesMed,readmitted
0,Caucasian,Female,[0-10),?,1,None,No,No,NO
1,Caucasian,Female,[10-20),?,3,None,Up,Yes,>30
2,AfricanAmerican,Female,[20-30),?,2,None,No,Yes,NO
3,Caucasian,Male,[30-40),?,2,None,Up,Yes,NO
4,Caucasian,Male,[40-50),?,1,None,Steady,Yes,NO
...,...,...,...,...,...,...,...,...,...
101761,AfricanAmerican,Male,[70-80),?,3,None,Down,Yes,>30
101762,AfricanAmerican,Female,[80-90),?,5,None,Steady,Yes,NO
101763,Caucasian,Male,[70-80),?,1,None,Down,Yes,NO
101764,Caucasian,Female,[80-90),?,10,None,Up,Yes,NO
101765,Caucasian,Male,[70-80),?,6,None,No,No,NO

In [4]:
# Drop rows with invalid values (?)

clean_df = clean_df[(clean_df.race != "?") & (clean_df.gender != "?") & (clean_df.age != "?") & (clean_df.weight != "?")]

clean_df

# There are significant amount of invalid weight info (98569), consider to exclude from analyses

,race,gender,age,weight,time_in_hospital,max_glu_serum,insulin,diabetesMed,readmitted
1102,Caucasian,Male,[50-60),[75-100),2,None,Steady,Yes,>30
1132,Caucasian,Female,[60-70),[0-25),5,None,Steady,Yes,>30
1136,Caucasian,Female,[40-50),[75-100),3,None,Steady,Yes,NO
1190,Caucasian,Female,[70-80),[75-100),11,None,Steady,Yes,NO
1204,Caucasian,Female,[80-90),[50-75),9,None,Steady,Yes,>30
...,...,...,...,...,...,...,...,...,...
101456,AfricanAmerican,Male,[60-70),[75-100),2,None,No,No,>30
101516,Caucasian,Male,[60-70),[100-125),4,None,No,Yes,>30
101640,Caucasian,Female,[70-80),[50-75),8,None,Steady,Yes,NO
101667,Caucasian,Male,[70-80),[75-100),4,None,No,Yes,<30
101723,Caucasian,Male,[60-70),[150-175),3,None,No,Yes,>30

In [5]:
# Convert readmitted column to binary field

clean_df = clean_df.replace({'readmitted': {">30": 0, "NO": 0, "<30": 1}})

clean_df = clean_df.rename(columns={"readmitted": "readmitted_in_30d"})

clean_df

,race,gender,age,weight,time_in_hospital,max_glu_serum,insulin,diabetesMed,readmitted_in_30d
1102,Caucasian,Male,[50-60),[75-100),2,None,Steady,Yes,0
1132,Caucasian,Female,[60-70),[0-25),5,None,Steady,Yes,0
1136,Caucasian,Female,[40-50),[75-100),3,None,Steady,Yes,0
1190,Caucasian,Female,[70-80),[75-100),11,None,Steady,Yes,0
1204,Caucasian,Female,[80-90),[50-75),9,None,Steady,Yes,0
...,...,...,...,...,...,...,...,...,...
101456,AfricanAmerican,Male,[60-70),[75-100),2,None,No,No,0
101516,Caucasian,Male,[60-70),[100-125),4,None,No,Yes,0
101640,Caucasian,Female,[70-80),[50-75),8,None,Steady,Yes,0
101667,Caucasian,Male,[70-80),[75-100),4,None,No,Yes,1
101723,Caucasian,Male,[60-70),[150-175),3,None,No,Yes,0

In [6]:
clean_df["race"].unique()

array(['Caucasian', 'AfricanAmerican', 'Other', 'Asian'], dtype=object)

In [7]:
# Create Race IDs for analyses

conditions = [
    (clean_df["race"] == 'Caucasian'), 
    (clean_df["race"] == 'AfricanAmerican'),
    (clean_df["race"] == 'Other'),
    (clean_df["race"] == 'Asian')
]

ids = [0, 1, 2, 3]

clean_df["race_id"] = np.select(conditions, ids)

clean_df

,race,gender,age,weight,time_in_hospital,max_glu_serum,insulin,diabetesMed,readmitted_in_30d,race_id
1102,Caucasian,Male,[50-60),[75-100),2,None,Steady,Yes,0,0
1132,Caucasian,Female,[60-70),[0-25),5,None,Steady,Yes,0,0
1136,Caucasian,Female,[40-50),[75-100),3,None,Steady,Yes,0,0
1190,Caucasian,Female,[70-80),[75-100),11,None,Steady,Yes,0,0
1204,Caucasian,Female,[80-90),[50-75),9,None,Steady,Yes,0,0
...,...,...,...,...,...,...,...,...,...,...
101456,AfricanAmerican,Male,[60-70),[75-100),2,None,No,No,0,1
101516,Caucasian,Male,[60-70),[100-125),4,None,No,Yes,0,0
101640,Caucasian,Female,[70-80),[50-75),8,None,Steady,Yes,0,0
101667,Caucasian,Male,[70-80),[75-100),4,None,No,Yes,1,0
101723,Caucasian,Male,[60-70),[150-175),3,None,No,Yes,0,0

In [8]:
clean_df["gender"].unique()

array(['Male', 'Female'], dtype=object)

In [9]:
conditions = [
    (clean_df["gender"] == 'Male'), 
    (clean_df["gender"] == 'Female')
]

ids = [0, 1]

clean_df["gender_id"] = np.select(conditions, ids)

clean_df

,race,gender,age,weight,time_in_hospital,max_glu_serum,insulin,diabetesMed,readmitted_in_30d,race_id,gender_id
1102,Caucasian,Male,[50-60),[75-100),2,None,Steady,Yes,0,0,0
1132,Caucasian,Female,[60-70),[0-25),5,None,Steady,Yes,0,0,1
1136,Caucasian,Female,[40-50),[75-100),3,None,Steady,Yes,0,0,1
1190,Caucasian,Female,[70-80),[75-100),11,None,Steady,Yes,0,0,1
1204,Caucasian,Female,[80-90),[50-75),9,None,Steady,Yes,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
101456,AfricanAmerican,Male,[60-70),[75-100),2,None,No,No,0,1,0
101516,Caucasian,Male,[60-70),[100-125),4,None,No,Yes,0,0,0
101640,Caucasian,Female,[70-80),[50-75),8,None,Steady,Yes,0,0,1
101667,Caucasian,Male,[70-80),[75-100),4,None,No,Yes,1,0,0
101723,Caucasian,Male,[60-70),[150-175),3,None,No,Yes,0,0,0

In [10]:
clean_df["age"].unique()

array(['[50-60)', '[60-70)', '[40-50)', '[70-80)', '[80-90)', '[30-40)',
       '[0-10)', '[90-100)', '[10-20)', '[20-30)'], dtype=object)

In [11]:
conditions = [
    (clean_df["age"] == '[[0-10)'), 
    (clean_df["age"] == '[10-20)'), 
    (clean_df["age"] == '[20-30)'), 
    (clean_df["age"] == '[30-40)'), 
    (clean_df["age"] == '[40-50)'), 
    (clean_df["age"] == '[50-60)'), 
    (clean_df["age"] == '[60-70)'),
    (clean_df["age"] == '[70-80)'),
    (clean_df["age"] == '[80-90)'),
    (clean_df["age"] == '[90-100)')
]

ids = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

clean_df["age_id"] = np.select(conditions, ids)

clean_df

,race,gender,age,weight,time_in_hospital,max_glu_serum,insulin,diabetesMed,readmitted_in_30d,race_id,gender_id,age_id
1102,Caucasian,Male,[50-60),[75-100),2,None,Steady,Yes,0,0,0,5
1132,Caucasian,Female,[60-70),[0-25),5,None,Steady,Yes,0,0,1,6
1136,Caucasian,Female,[40-50),[75-100),3,None,Steady,Yes,0,0,1,4
1190,Caucasian,Female,[70-80),[75-100),11,None,Steady,Yes,0,0,1,7
1204,Caucasian,Female,[80-90),[50-75),9,None,Steady,Yes,0,0,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...
101456,AfricanAmerican,Male,[60-70),[75-100),2,None,No,No,0,1,0,6
101516,Caucasian,Male,[60-70),[100-125),4,None,No,Yes,0,0,0,6
101640,Caucasian,Female,[70-80),[50-75),8,None,Steady,Yes,0,0,1,7
101667,Caucasian,Male,[70-80),[75-100),4,None,No,Yes,1,0,0,7
101723,Caucasian,Male,[60-70),[150-175),3,None,No,Yes,0,0,0,6

In [12]:
clean_df["weight"].unique()

array(['[75-100)', '[0-25)', '[50-75)', '[100-125)', '[25-50)',
       '[125-150)', '[150-175)', '>200', '[175-200)'], dtype=object)

In [13]:
conditions = [
    (clean_df["weight"] == '[[0-25)'), 
    (clean_df["weight"] == '[25-50)'), 
    (clean_df["weight"] == '[50-75)'), 
    (clean_df["weight"] == '[75-100)'), 
    (clean_df["weight"] == '[100-125)'), 
    (clean_df["weight"] == '[125-150)'), 
    (clean_df["weight"] == '[150-175)'),
    (clean_df["weight"] == '[175-200)'),
    (clean_df["weight"] == '>200')
]

ids = [0, 1, 2, 3, 4, 5, 6, 7, 8]

clean_df["weight_id"] = np.select(conditions, ids)

clean_df

,race,gender,age,weight,time_in_hospital,max_glu_serum,insulin,diabetesMed,readmitted_in_30d,race_id,gender_id,age_id,weight_id
1102,Caucasian,Male,[50-60),[75-100),2,None,Steady,Yes,0,0,0,5,3
1132,Caucasian,Female,[60-70),[0-25),5,None,Steady,Yes,0,0,1,6,0
1136,Caucasian,Female,[40-50),[75-100),3,None,Steady,Yes,0,0,1,4,3
1190,Caucasian,Female,[70-80),[75-100),11,None,Steady,Yes,0,0,1,7,3
1204,Caucasian,Female,[80-90),[50-75),9,None,Steady,Yes,0,0,1,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101456,AfricanAmerican,Male,[60-70),[75-100),2,None,No,No,0,1,0,6,3
101516,Caucasian,Male,[60-70),[100-125),4,None,No,Yes,0,0,0,6,4
101640,Caucasian,Female,[70-80),[50-75),8,None,Steady,Yes,0,0,1,7,2
101667,Caucasian,Male,[70-80),[75-100),4,None,No,Yes,1,0,0,7,3
101723,Caucasian,Male,[60-70),[150-175),3,None,No,Yes,0,0,0,6,6

In [14]:
clean_df.to_csv("cleaned_data.csv")